@import "tailwindcss";

@theme {
  color-scheme: dark;
  --color-primary: #feca26;
  --color-secondary: #f6e7d0;
  /* --color-accent: #9013fe; */
  --color-background: #3d1c63;
  --color-text: #fff;
  --color-border: #feca26;
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  img {
    max-width: 100%;
    display: block;
  }
}